package ${table.getPackages()};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import lombok.EqualsAndHashCode;
#foreach($v in $table.getImportList())
${v}
#end

@Data
@EqualsAndHashCode(callSuper=false)
@ApiModel(description = "${table.getComment()}保存")
public class $table.getClassName()SaveReqVO extends $table.getClassName(){
	/**
	 * serialVersionUID
	 */
	private static final long serialVersionUID = 1L;
}
